<div class="forPagination">
    <pagination-controls (pageChange)="p = $event" previousLabel="Предыдущий"
    nextLabel="Следующий"></pagination-controls>
</div>
<div class="forPagination">
    <div class="form-group row">
        <label for="items" class="col-sm-10 col-form-label">Кол-во карточек на страницу:</label>
        <div id="items" class="col-sm-2">
            <select class="form-control" [formControl]="items">
                <option>4</option>
                <option>8</option>
                <option>12</option>
            </select>
        </div>
    </div>
</div>
<div class="list">     
    <app-card [ngStyle]="residence.chosen ? {'background-color': 'Red'}: {'background-color': 'White'}" *ngFor="let residence of this.listService.residences | paginate: { itemsPerPage: a, currentPage: p }" [residence]="residence" (click)="chooseCard(residence)"></app-card>
</div>
