.card {
    box-shadow: 10px 10px 5px grey;
    max-width: 350px;
    flex-grow: 1;
    flex-basis: auto;
    margin: 10px;
}
.card:hover {
    box-shadow: 12px 12px 7px rgb(194, 26, 26);
}
.main {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}
h4{
    min-width: 50%;
    margin: 5px;
}
p {
    max-width: 70%;
    margin: 5px;
}
img {
    max-width: 30%;
    height: auto;
    margin: 5px;
}

